* {
    font-family: Tahoma, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.allpage {
}
/*HeaderStyling*/
header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17vw;
    position: sticky;
    width: 100%;
    height: 3vw;
    box-sizing: border-box;
}
.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}
.navlinks {
    display: flex;
    color:#e5e7eb ;
    font-size: 18px;
    list-style: none;
    gap: 4vw;
}
/*FirstSection*/
.cont1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11vw;
    background-color:#1f2937 ;
    padding: 5vw 0;
}
.cont1-img {
    object-fit: cover;
    max-width: 25vw;
    width: 25vw;
    height: 25vw;
    border-radius:50% ;
    box-shadow: 0 0 2vw 1vw #abceff;
}
.cont1-left {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 0 1 28vw;
}
.cont1-parr {
    color:#e5e7eb ;
    font-size: 20px;
}
h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
}
.signupbutton {
    align-self: flex-start;
    width: 10vw;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 600;
    background-color: #3882f6;
    border: none;
    color:#f9faf8 ;
    margin-top: 8px;
    flex: 0 0 auto;
    overflow: hidden;
}
/*SecondSection*/
.cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
h2 {
    margin: 3vw auto;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.cont2-flexgrid {
    padding: 0;
    margin: 0 auto 5vw auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    flex-wrap: wrap;
    align-content: center;
    flex: 0 1 auto;
}
.cont2-flexgrid > figure > img {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
    border: solid 6px #3882f6;
    box-sizing: border-box;
    box-shadow: 0 0 1vw 0 #1f2937;
    flex: 1 0 auto;
}
figcaption {
    text-align: center;
    margin-top: 14px;
    font-size: 28px;
    font-weight: 900;
    color: #1f2937;
}
/*ThirdSection(Quote)*/
.cont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #e5e7eb;
    padding: 10vw 22vw;
}
.quote {
    font-size: 48px;
    text-align: center;
    font-style: italic;
}
.quotename {
    font-size: 32px;
    align-self: flex-end;
    font-weight: 900;
    padding-right: 30px;
}
/*FourthSection*/
.cont4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 8vw 0;
}
.bluebox {
    display: flex;
    background-color: #3882f6;
    border-radius: 20px;
    padding: 1vw 4vw;
    color: #f9faf8;
    align-items: center;
    gap: 4vw;
}
h3 {
    font-size: 30px;
    margin-bottom: 1vw;
}
.blueboxtext {
    margin-top: 0;
    font-size: 20px;
}
.signupbutton2 {
    width: 10vw;
    font-size: 22px;
    padding: 8px 12px;
    border-radius: 15px;
    font-weight: 600;
    background-color: #3882f6;
    border: 4px solid #abceff;
    color:#f9faf8 ;
    margin-top: 8px;
    flex: 0 0 auto;
    overflow: hidden;
}